h1{
    font-size: 50px;
}

/* body */
body{
    padding:15px;
    /* outline: auto; */
}

/* Navigation bar */
.navbar{
    overflow:hidden;
    text-align: left;
    padding: 20px;
    background: aqua;
}

.navbar a{
    padding: 10px 15px;
    text-align: center;
    padding: 10px;
}

/* for data.html table */
table{
    width:70%;
    border:1px solid black;
}

tr:nth-child(even){
    background-color: lightgray;
}

th, td{
    border:none;
    padding:5px;
    text-align:center;
}

th{
    background-color: aqua;
    color:black
}