h1{
    font-size: 50px;
    padding: 20px;
}

h2{
    font-size: 40;
    padding: 20px;
}

/* body */
body{
    padding:15px;
    background-color:lightskyblue;
    z-index: 20;
    position: relative;
    border: 10px black;
    /* outline: auto; */
}
.latitude-nav{
    z-index: 30;
    position: relative;
}
/* Navigation bar */
.navigation-bar{
    overflow:visible;
}

.navbar{
    text-align: left;
    padding: 20px;
    background: violet;
}

/* .navbar a{
    padding: 10px 15px;
    text-align: center;
    padding: 10px;
} */


/* for data.html table */
table{
    width:70%;
    border:1px solid black;
}

tr:nth-child(even){
    background-color: lightgray;
}

th, td{
    border:none;
    padding:5px;
    text-align:center;
}

th{
    background-color:lightgray;
    color:black
}

